<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>famacias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <i slot="start" class="fa fa-3x fa-medkit icon-principal"></i>
        <ion-label>
          <ion-text color="primary">
            <h2>Farmacias Nacional</h2>
          </ion-text>
          <p> <i class="fas fa-map-marked-alt"> </i> Ave Orillas del Zamora & Juan de Alderete</p>
          <p><i class="fa fa-phone"></i> +593 7-257-5658</p>
          <p>
            <ion-badge slot="start" color="secondary">Abierto</ion-badge>
          </p>
        </ion-label>
        <ion-text slot="end">
          <!-- <i class="fas fa-angle-right"></i> -->
          <i class="fa fa-2x fa-angle-right icon-principal"></i>
        </ion-text>
      </ion-item>


      <ion-item>
          <i slot="start" class="fa fa-3x fa-medkit icon-principal"></i>
          <ion-label>
            <ion-text color="primary">
              <h2>Farmacias Cuxibamba</h2>
            </ion-text>
            <p><i class="fas fa-map-marked-alt"></i> Alonso de Mercadillo</p>
            <p><i class="fa fa-phone"></i> +593 7-258-4999</p>
            <p>
              <ion-badge slot="start" color="secondary">Abierto</ion-badge>
            </p>
          </ion-label>
          <ion-text slot="end">
            <!-- <i class="fas fa-angle-right"></i> -->
            <i class="fa fa-2x fa-angle-right icon-principal"></i>
          </ion-text>
        </ion-item>

      
  <ion-item>
    <i slot="start" class="fa fa-3x fa-medkit icon-principal"></i>
    <ion-label>
      <ion-text color="primary">
        <h2>Farmacias Mia</h2>
      </ion-text>
      <p><i class="fas fa-map-marked-alt"></i> Guaranda e/ Gran Colombia y Cuxibamba, Loja 110150</p>
      <p> <i class="fa fa-phone"></i> 593 7-258-9322</p>
      <p>
        <ion-badge slot="start" color="danger">Cerrado</ion-badge> Abre a las
        8:00 am
      </p>
    </ion-label>
    <ion-text slot="end">
      <!-- <i class="fas fa-angle-right"></i> -->
      <i class="fa fa-2x fa-angle-right icon-principal"></i>
    </ion-text>
  </ion-item>
</ion-content>